---
import MainLayout from "../layouts/MainLayout.astro"
import { ChevronRightIcon } from "astro-feather"

const posts = []
---
  <MainLayout title="My blog posts where you can check out my writings | Bruno Arueira">
    <h1 className="leading-tight mb-8 mt-6">Blog</h1>

    {posts.map(function ({ post }) {
      const title = post.frontmatter.title || post.frontmatter.slug

      const postSlug = `/blog/${post.frontmatter.slug}`

      return (
        <div key={postSlug} className="mb-12">
          <h2 className="mb-3">
            <a href={postSlug} style="font-weight: 700; box-shadow: none;">{title}</a>
          </h2>

          <small class="text-gray-600" style="font-weight: 400">{post.frontmatter.date}</small>

          <p
            className="mt-5"
            dangerouslySetInnerHTML={{ __html: post.excerpt }}
          />

          <div className="flex flex-col md:flex-row items-left md:items-center justify-between mt-5">
            <a href={postSlug} class="uppercase no-underline hover:underline" style="text-decoration-color: color-gold-900 !important; font-weight: 400;">
              Read more

              <ChevronRightIcon size={14} strokeWidth={1.2} />
            </a>
          </div>
        </div>
      )
    })}
  </MainLayout>
