---
import { TwitterIcon, LinkedinIcon } from "astro-feather";

const { title, path } = Astro.props;

const siteUrl = "https://brunoarueira.com";

const fullUrl = `${siteUrl}/${path}`;
---
  <section class="mt-8" style="align-items: center; display: flex; justify-content: flex-end;">
    Share this post
    <ul class="ml-2 social-share" style="align-items: center; display: flex; flex-direction: flex-end; list-style: none; padding: 0; line-height: 1;">
      <li class="hover:text-gray-600">
        <a
	  href={`https://twitter.com/intent/tweet/?text=${title}&url=${fullUrl}%2F&via=bruno_arueira`}
          target="_blank"
	  title="Twitter"
        >
          <TwitterIcon size={22} strokeWidth={1.2} />
        </a>
      </li>
      <li class="ml-2 hover:text-gray-600">
        <a
          href={`https://www.linkedin.com/shareArticle?mini=true&url=${fullUrl}&title=${title}&source=${title}`}
          target="_blank"
          title="LinkedIn"
        >
          <LinkedinIcon size={22} strokeWidth={1.2} />
        </a>
      </li>
    </ul>
  </section>
