---
import { ChevronRightIcon, ChevronLeftIcon } from "astro-feather";

const { address, text, uppercase = false, direction = "right" } = Astro.props;

const right = direction == "right";
const left = direction == "left";

const pixels_to_move = 5;
const position = right ? `${pixels_to_move}px` : `-${pixels_to_move}px`;

const Icon = right ? ChevronRightIcon : ChevronLeftIcon;

let linkClasses = "styled-link no-underline hover:underline flex items-center"

if (uppercase) {
  linkClasses = `${linkClasses} uppercase`
}
---

<div>
  <a href={address} class={linkClasses} style=`--translate-x: ${position}`>
    {left ? '' : text}

    <Icon size={14} strokeWidth={1.2} style="display: inline" />

    {right ? '' : text}
  </a>
</div>
